OPENAI_API_KEY=your_api_key
OPENAI_BASE_URL=https://api.openai.com/v1
REALTIME_MODEL=gpt-4o-realtime-preview-2025-06-03
OPENAI_ADDITIONAL_HEADERS={}
NEXT_PUBLIC_OPENAI_BASE_URL=https://api.openai.com/v1
NEXT_PUBLIC_REALTIME_MODEL=gpt-4o-realtime-preview-2025-06-03
NEXT_PUBLIC_TRANSCRIPTION_MODEL=gpt-4o-mini-transcribe
NEXT_PUBLIC_TEXT_MODEL=gpt-4o-mini
